<a href="https://colab.research.google.com/github/mukami2024/data-analysis/blob/main/week_2_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install db-sqlite3

Collecting db-sqlite3
  Downloading db-sqlite3-0.0.1.tar.gz (1.4 kB)
  Preparing metadata (setup.py) ... done
Collecting db (from db-sqlite3)
  Downloading db-0.1.1.tar.gz (3.4 kB)
  Preparing metadata (setup.py) ... done
Collecting antiorm (from db->db-sqlite3)
  Downloading antiorm-1.2.1.tar.gz (171 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 172.0/172.0 kB 3.7 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: db-sqlite3, db, antiorm
  Building wheel for db-sqlite3 (setup.py) ... done
  Created wheel for db-sqlite3: filename=db_sqlite3-0.0.1-py3-none-any.whl size=1770 sha256=d0d9d7fcca08dce6b2dfa1f6e0fda17a12dee2854e06ab2bcf745d654d6caadd
  Stored in directory: /root/.cache/pip/wheels/a6/b7/83/e941e0a0e04f417982e718ae7295d1e82b5f2863a1c51edd71
  Building wheel for db (setup.py) ... done
  Created wheel for db: filename=db-0.1.1-py3-none-any.whl size=3874 sha256=6bd8cb557fd31ac21eab913cfb446cd35f9b5b9dcfb2be37cde7d01c06508627
  Stored in directory: /root/.cache/pip/wheels/7d/e4/df/bc55b93af204ab098d9effec76f6889ad12d7ad74e833c4910
  Building wheel for antiorm (setup.py) ... done
  Created wheel for antiorm: filename=antiorm-1.2.1-py3-none-any.whl size=31665 sha256=b3efce84ac8be45feec705aa5c020070f69b3a667d870e0196d0980d50ce3b51
  Stored in directory: /root/.cache/pip/wheels/30/9f/7e/b7c95b391cfa77a9e722d359e9c669cf6c8d798d748aec5091
Successfully built db-sqlite3 db antiorm
Installing collected packages: antiorm, db, db-sqlite3
Successfully installed antiorm-1.2.1 db-0.1.1 db-sqlite3-0.0.1

In [ ]:
import sqlite3

In [ ]:
%%sql sqlite:///Zindua.sql

In [ ]:
%load Zindua\ \(1\).sql

In [ ]:
%%sql INSERT INTO school_details(stud_ID)
SELECT stud_ID
FROM personal_details;

UsageError: Cell magic `%%sql` not found.

In [ ]:
%load_ext sql

In [ ]:
%%sql sqlite:///Zindua.sql

In [ ]:
%%sql CREATE TABLE personal_details (
    national_ID INT(100),
    stud_ID VARCHAR(15),
    stud_name VARHAR(100),
    phone_number VARCHAR(15),
    age INTEGER(3),
    gender VARCHAR(10),
    PRIMARY KEY (national_ID)
);

 * sqlite:///Zindua.sql
Done.

[]

In [ ]:
%sql SELECT * FROM personal_details

UsageError: Line magic function `%sql` not found.

In [ ]:
%%sql SELECT * FROM  personal_details

UsageError: Cell magic `%%sql` not found.

In [ ]:
%%sql INSERT INTO personal_details VALUES ()