<a href="https://colab.research.google.com/github/mukami2024/data-analysis/blob/main/week_1_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
%load_ext sql

In [ ]:
%%sql sqlite:///ABC_DATA

In [26]:
%%sql CREATE TABLE customers(
    customer_id INT(20),
    first_name VARCHAR(25),
    last_name VARCHAR(25),
    email VARCHAR(100)

);

 * sqlite:///ABC_DATA
Done.

[]

In [30]:
%%sql INSERT INTO customers VALUES("284993", "Robert" , "Wachira" , "robertwachira@gmail.com");

 * sqlite:///ABC_DATA
1 rows affected.

[]

In [31]:
%%sql INSERT INTO customers VALUES( " 345282" , " Kelsey" , " Wangui" , " wanguikelsey@gmail.com");

 * sqlite:///ABC_DATA
1 rows affected.

[]

In [32]:
%%sql INSERT INTO customers VALUES ("25681817" , " Alvin" , "Kimani" , "kimanialvin@gmail.com");

 * sqlite:///ABC_DATA
1 rows affected.

[]

In [34]:
%%sql SELECT * FROM customers

 * sqlite:///ABC_DATA
Done.

[(284993, 'Robert', 'Wachira', '@robertwachiragmail.com'),
 (284993, 'Robert', 'Wachira', 'robertwachira@gmail.com'),
 (345282, ' Kelsey', ' Wangui', ' wanguikelsey@gmail.com'),
 (25681817, ' Alvin', 'Kimani', 'kimanialvin@gmail.com')]

In [ ]:
%%sql CREATE TABLE products(
    product_id INT(20),
    product_name VARCHAR(20),
    price INT(20)
);

 * sqlite:///ABC_DATA
Done.

[]

In [ ]:
%%sql INSERT INTO products VALUES ("001" , "aquafresh" , "100");

 * sqlite:///ABC_DATA
1 rows affected.

[]

In [ ]:
%%sql INSERT INTO products VALUES ("002" , " listerine" , "500");

 * sqlite:///ABC_DATA
1 rows affected.

[]

In [ ]:
%%sql INSERT INTO products VALUES ("003" , " toothbrush" , "50");

 * sqlite:///ABC_DATA
1 rows affected.

[]

In [ ]:
%%sql INSERT INTO products VALUES ("004" , " facemask" , "200");

 * sqlite:///ABC_DATA
1 rows affected.

[]

In [ ]:
%%sql INSERT INTO products VALUES ("005" , " cleanser" , "1800");

 * sqlite:///ABC_DATA
1 rows affected.

[]

In [ ]:
%%sql INSERT INTO products VALUES ("006" , " moisturizer" , "2000");

 * sqlite:///ABC_DATA
1 rows affected.

[]

In [ ]:
%%sql SELECT * FROM products

 * sqlite:///ABC_DATA
Done.

[(1, 'aquafresh', 100),
 (2, ' listerine', 500),
 (3, ' toothbrush', 50),
 (4, ' facemask', 200),
 (5, ' cleanser', 1800),
 (6, ' moisturizer', 2000)]

In [ ]:
%%sql CREATE TABLE orders(
    order_id INT(20),
    customer_id INT(20),
    order_date
);

 * sqlite:///ABC_DATA
Done.

[]

In [ ]:
%%sql INSERT INTO orders VALUES(" 10346782" , "37" , "24/02/2024");

 * sqlite:///ABC_DATA
1 rows affected.

[]

In [ ]:
%%sql INSERT INTO orders VALUES (" 10345674" , "38" , "24/02/2024");

 * sqlite:///ABC_DATA
1 rows affected.

[]

In [35]:
%%sql SELECT * FROM orders

 * sqlite:///ABC_DATA
Done.

[(10346782, 37, '24/02/2024'), (10345674, 38, '24/02/2024')]

In [ ]:
%%sql CREATE TABLE order_items(
    order_id INT(20),
    product_id INT(20),
    quantity INT(20)
);

 * sqlite:///ABC_DATA
Done.

[]

In [ ]:
%%sql INSERT INTO order_items VALUES(" 10234515008" , " 35674" , 20);

 * sqlite:///ABC_DATA
1 rows affected.

[]

In [ ]:
%%sql INSERT INTO order_items VALUES(" 102345672100" , "45637" , "12");

 * sqlite:///ABC_DATA
1 rows affected.

[]

In [36]:
%%sql SELECT* FROM order_items

 * sqlite:///ABC_DATA
Done.

[(10234515008, 35674, 20), (102345672100, 45637, 12)]